.wrapper {
  text-align: center;
}

.title {
  color: white;
  padding: 1rem 0;
  font-size: 2rem;
  background: linear-gradient(
    90deg,
    rgba(170, 135, 240, 1) 0%,
    rgba(238, 142, 232, 1) 35%,
    rgba(144, 236, 247, 1) 100%
  );
}
