@import './Variables.scss';

.card {
  display: flex;
  max-width: 40rem;
  margin: auto;
  margin-top: 5rem;
  border: 0.125rem solid $border-color;
  border-radius: 1rem;
  padding: 1rem;
  flex-direction: column;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.02),
    0 6.7px 5.3px rgba(0, 0, 0, 0.028), 0 12.5px 10px rgba(0, 0, 0, 0.035),
    0 22.3px 17.9px rgba(0, 0, 0, 0.042), 0 41.8px 33.4px rgba(0, 0, 0, 0.05),
    0 100px 80px rgba(0, 0, 0, 0.07);
}

.refreshButton {
  position: absolute;
}

.personalInfo {
  display: flex;

  @media screen and (max-width: $small-screen) {
    flex-direction: column;
  }
}

.column {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
  justify-content: center;

  @media screen and (max-width: $small-screen) {
    margin-left: 0;
    align-items: center;
  }
}

.row {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  text-align: left;

  div {
    margin-left: 1rem;
  }
}

.photo {
  width: 10rem;
  border-radius: 50%;
  margin: 1rem;
}

.rowItems {
  display: flex;
  align-items: center;
}

.text {
  margin-left: 0.3rem;
}
